# Configuración de Conexión a Supabase (Proyecto Viksa)
# Reemplaza estas variables con las credenciales de tu panel de Supabase
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=tu-anon-key-aqui

# Configuración de Google Sheets (Web App API)
GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbxKf-GrXIkxtEisOMyvPNrxNPgHqWzujf4PtgapjejstWJC4ogaAkQ7IpQDBzn9g0F-yw/exec

